.header {
    background-color: black;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 1.5rem;
}

.header span {
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding-inline: 0.5rem;
}

.header a:hover {
    opacity: 0.7;
}
    